<div class="">
  <div class="my_container">
    <div class="features"></div>
    <div class="blog">
      <div class="featured_article"></div>
      <div class="article_loop"></div>
    </div>
  </div>
</div>