<header>
  <div class="header py-4">
    <div class="my_container">
      <div class="grid grid-cols-5">
        <div class="logo col-span-1">{{ shop.name }}</div>
        <div class="flex justify-center col-span-3 items-center">main menu</div>
        <div class="icon-group col-span-1 flex justify-end items-center">icons</div>
      </div>
    </div>
  </div>
</header>